<!DOCTYPE html>
<html>
<head>
	<title>Campuses</title>
</head>
<body>
	<h1>Number of students at each campus:</h1>
	<ul>
		<li>
			San Francisco: <% @san_francisco.length %>
		</li>
		<li>
			San Diego: <% @san_diego.length %>
		</li>
		<li>
			Seattle: <% @seattle.length %>
		</li>
		<li>
			Chicago: <% @chicago.length %>
		</li>
		<li>
			New York: <% @new_york.length %>
		</li>
	</ul>
</body>
</html>