#octopus {
	display: block;
	margin: auto;
	z-index: -1;

}

#hat {
display: block;
margin: auto;
position: relative;
top: 80px;
left: 10px;
}

#glasses {
display: block;
margin: auto;
position: relative;
top: -190px;
left: 5px;
}